

/* header {
    display: flex;
    justify-content: space-between;
} */

header a, header p{
    display: inline-block;
    /* flex-wrap: wrap; */
}
header p {
    /* position: absolute; */
    /* right: 20px; */
    float: right;
    margin-top: 4px;
}


#correct {
    border-top: 2px solid grey;
    padding-top: 3px;
    display: none;
}

#questions, #results, #highscores {
    display: none;
}

#questions, #opener, #results, #highscores {
    width: 500px;
    position: absolute;
    left: 50%;
    margin-left: -250px;
}

#questions li {
    background-color: purple;
    color: white;
    border-radius: 20px;
    border: 10px;
    padding: 5px;
    padding-left: 20px;
    margin-bottom: 5px;
    width: 300px;
    list-style-type: none;
}

#questions li:hover {
    box-shadow: inset 0px 0px 8px var(red), 0 0 15px var(grey);
    cursor: pointer;
    opacity: .8;
}

button {
    background-color: purple;
    color: white;
}

#results, #highscores {
    margin-top: 30px;
    text-align: center;
    justify-content: space-between;

}

#submit, #textarea {
    display: flex;
    flex-wrap: wrap;
}

#textarea {
    margin-left: 60px;
}

#submit {
    margin-left: 280px;
    margin-top: -22px;
}

#highscores li {
    margin-left: 60px;
    text-align: left;

}

#highscores button {
    margin: 10px;
}

#questions {
    margin-top: 30px;
}